{% extends 'core/layout.html' %}
{% load static %}
{% block content %}
  <style>
  .under-construction img {
      border-radius: 0.5em;
      box-shadow: 4px 4px 6px lightgray;
      text-align: center;
  }
  .center {
      text-align: center;
  }
  </style>
  <div>
    <div class="under-construction flex-end">
      <img src="/media/unsplash/webfactory-ltd-NoOrDKxUfzo.jpg" alt="Under Construction">
    </div>
    <div class="center">
      <h1>Check back soon!</h1>
    </div>
  </div>

{% endblock content %}
